{% extends "base_site.html" %}

{% block title %} Profile {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}

    {% include "site_template/navigation.html" %}
      
    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(/static/assets/img/theme/profile-cover.png); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-default opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
        <div class="row">
        <div class="col-lg-7 col-md-10">
            <h1 class="display-2 text-white">Hello {{ session['name'] }}</h1>
            <p class="text-white mt-0 mb-5">
                Edit Your Profile Page Here </p>
        </div>
        </div>
    </div>
    </div>
      
    <!-- Page content -->
    <div class="container-fluid mt--7">

        <div class="row">
            <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
            <div class="card card-profile shadow">
                <div class="row justify-content-center">
                <div class="col-lg-3 order-lg-2">
                    <div class="card-profile-image">
                    <a href="#">
                        <img src="/static/assets/img/theme/profile.png" class="rounded-circle">
                    </a>
                    </div>
                </div>
                </div>
                <div class="mt-5 card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                </div>

            <div class="col-xl-8 order-xl-1">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                <div class="row align-items-center">
                    <div class="col-8">
                    <center><h3 class="mb-0">    Edit account</h3></center>
                    </div>
                </div>
                </div>
                <div class="card-body">
                <form action="/update-pro" method="POST">
                    <h6 class="heading-small text-muted mb-4">User information - {{ session['user_id'] }}</h6>
                    <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">Username</label>
                            <input type="text" id="input-username" name="username" class="form-control form-control-alternative" 
                                   placeholder="Username" value="{{ session['username'] }}" disabled>
                        </div>
                        </div>
                        <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label" for="input-first-name">Name</label>
                            <input type="text" name="name" id="input-first-name" class="form-control form-control-alternative" placeholder="Name" value="{{ session['name'] }}">
                        </div>
                        </div>
                        
                        <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label" for="input-email">Email address</label>
                            <input type="email" name="email" id="input-email" class="form-control form-control-alternative" 
                                   placeholder="Email" value="{{ session['username'] }}" disabled>
                        </div>
                        </div>
                    </div>
                    <div class="row">


                    </div>
                    </div>
                    <hr class="my-4" />
                    <!-- Address -->
                    <h6 class="heading-small text-muted mb-4">Contact information</h6>
                    <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-control-label" for="input-address">Address</label>
                            <input id="input-address" name="address" class="form-control form-control-alternative" placeholder="Home Address" value="{{ session['username'] }}" type="text">
                        </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="input-city">Phone No</label>
                            <input type="text" name="phone" id="input-city" class="form-control form-control-alternative" placeholder="City" value="{{ session['phone'] }}">
                        </div>
                        </div>
                        <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="input-country">Pincode</label>
                            <input type="number" name="pin" id="input-postal-code" class="form-control form-control-alternative" placeholder="Postal code" value="{{ session['pin'] }}">
                        </div>
                        </div>
                    </div>
                    </div>
                    <hr class="my-4" />
                    <!-- Description -->
                    <h6 class="heading-small text-muted mb-4">About me</h6>
                    <div class="pl-lg-4">
                    <div class="form-group">
                        <label>About Me</label>
                        <textarea rows="4" name="about" class="form-control form-control-alternative" placeholder="A few words about you ...">{{ session['username'] }}</textarea>
                    </div>
                    </div>
                  <div class="text-center">
                    <button type="submit" name="update" class="btn btn-primary my-4">Update</button>
                  </div>
                
                </form>
                </div>
            </div>
            </div>
        </div>
    
        {% include "site_template/footer.html" %}
        
    </div>    

{% endblock content %}

{% block javascripts %}
  {{ super()}}
{% endblock javascripts %}
